<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Welcome to The Puppy Adoption Site</h1>

        <form method="post" action="/">
        Name: <input type="text" name="name"><br>
        Breed: <input type="text" name="breed"><br>
        Age: <input type="text" name="age"><br>
        <input type="submit" id="form">
        </form>
        
  </body>
</html>
