<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>

    <h1>Welcome to The Puppy Adoption Site</h1>
      <h2>Name: <%= @new_puppy.name %></h2>
      <h2>Breed: <%= @new_puppy.breed %></h2>
      <h2>Age: <%= @new_puppy.age %></h2>

  </body>
</html>
