<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Welcome to The Puppy Adoption Site</h1>
    <a href="/NEW">Click Here To List A Puppy</a>
  </body>
</html>
